.body{

}
.card {
    margin-top:50px;
}

@media (min-width: 768px) {
   .card .card-img-top{
        height: 350px;
    }
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
.time{
    color: #557ECC;
    font-weight: bold;
}