<!DOCTYPE html>
<html>
<head>
	<title></title>
  {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href=" {% static 'bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'homestyle.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	
</head>

<body>

   
<!--Navbar-->
     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hotel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'book' %}">Booking</a></li>
        <li><a href="#">About us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Pool&spa</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="#">Reseption</a></li>
            
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">GO!</button>
      </form>
      
          
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

     <!--end of Navbar-->
     <!--slider-->
     <!--Image Slider-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

      <img src="{% static 'imgs/hotelphoto.jpg' %}"alt="TAKE YOUR VACATON NOW">
      <div class="carousel-caption">
        TAKE YOUR VACATON NOW
              </div>
    </div>
    <div class="item">

       <img src=" {% static 'imgs/hotelrestaurent.jpg' %}" alt="TAKE YOUR VACATON NOW">
      <div class="carousel-caption">
        Our Restaurants
      </div>
    </div>
    <div class="item">

       <img src="   {% static 'imgs/room.jpg' %}" alt="TAKE YOUR VACATON NOW">
      <div class="carousel-caption">
        Our Rooms
      </div>
    </div>
    <div class="item">

       <img src="   {% static 'imgs/spa.jpg' %}" alt="TAKE YOUR VACATON NOW">
      <div class="carousel-caption">
        Our Spa
      </div>
    </div>
    ...
  </div>

  
     <!--end of slider-->
<div class="container">

	   <div class="row">
	   	     <!--<div  class="col-lg-12 col-md-12 col-sm12 col-xs-12 text-center text-uppercase"> 
			    <h2> <small> Our sevices </small></h2>
			  </div> -->
		   	 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		   	 	<center>
		   	 	 <div class="test"> <i class="fas fa-hotel icons"></i> </div>
		   	 	 <h2>5 Stars Hotel</h2>
		   	 	<!-- <p><a class="btn btn-default viewdetails" href="#" role="button">View details »</a></p> -->
		   	 	</center>
		   	 </div>

		   	 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		   	  <center>
		   	  	<div class="test"> <i class="fas fa-map-marked-alt icons"></i> </div>
		   	  	
		   	  	<h2>Great Location</h2>
		   	 	 
		   	 	  <!-- <p><a class="btn btn-default viewdetails" href="#" role="button">View details »</a></p> -->
		   	  </center>	
		   	 </div>

		   	 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 rightcolumn">
		   	 	<center>
		   	 		<div class="test"> <i class="fas fa-wifi icons"></i> </div>
		   	 		<h2>Free WiFi</h2>
		   	 	
		   	 	  <!-- <p><a class="btn btn-default viewdetails" href="#" role="button">View details »</a></p> -->
		   	 	</center>
		   	 </div>

		   	 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		   	 	<center>
		   	 		<div class=" test "> <i class="fas fa-utensils icons"> </i> </div> 
		   	 		<h2>Fancy Resturant</h2>
		   	 	
		   	 	 <!-- <p><a class="btn btn-default viewdetails" href="#" role="button">View details »</a></p> -->
		   	 	</center>
		   	 </div>

		   	 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
		   	 	<center>
		   	 		<div class="test"> <i class="fas fa-dumbbell icons"></i> </div>
		   	 		<h2>Gym</h2>
		   	 	 
		   	 	  <!--<p><a class="btn btn-default viewdetails" href="#" role="button">View details »</a></p> -->
		   	 	</center>
		   	 </div>

		   	 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 rightcolumn">
		   	 	<center>
		   	 		<div class="test"> <i class="fas fa-swimming-pool icons"></i> </div>
		   	 		<h2>Swimming pool</h2>
		   	 	 
		   	 	  <!--<p><a class="btn btn-default viewdetails" href="#" role="button">View details »</a></p>-->
		   	 	</center>
		   	 </div>

	   </div>	
	</div>

		<div class="footer">
			<div class="container">
				<div class="row">
						<div class="col-lg-6">
						<center>
							<h4> Send us a message</h4> <br>
							<textarea class="form-control" rows="3"></textarea>
							<p><a class="btn btn-default sendbutton" href="#" role="button">Send! </a></p>

						</center>
					    </div>

						<div class="col-lg-6">
						<center>
							<h4> contact us at </h4> <br>
								<div class="row">
						              <div class="col-lg-4 col-sm-12">
						               <center> <i class="fab fa-facebook-square social"></i> </center>
						              </div>

						              <div class="col-lg-4 col-sm-12">
						               <center> <i class="fab fa-twitter-square social"></i></center>
						              </div>
                                      <div class="col-lg-4 col-sm-12">
						                <center><i class="fab fa-google-plus-square social"></i></center>
						              </div>


						       </div>
						</center>
					    </div>	
				</div>
			</div>
		</div> 



	<script type="text/javascript" src="{% static 'jquery-1.11.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>
