{% extends 'Staff/base.html' %}
{% block title %}Staff{% endblock %}
{% block staticfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Staff/Staff_view.css'  %}">
{% endblock %}
{% block search_input %}
    <form class="form-inline my-2 my-lg-0" method="get" action="">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search by Staff Name" name="q" value="{{ request.Get.q }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}
{% block body %}


<div class="card-deck" >


    <div class="container">
        <div class="row">
            {% for staff_team in Staff %}
                <div class="col-lg-6 col-md-6 col-sm-12" >
                 <div class="card">
                    <a href="{% url 'Staff_list' staff_team %}"><img class="card-img-top"  src="{{ staff_team.image.url }}" alt="Card image cap"></a>
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'Staff_list' staff_team %}">{{ staff_team.Name }}</a></h5>
                      <p class="card-text"><small class="text-muted">Last updated at <span class="time">{{ staff_team.employee_set.latest.time }}</span></small></p>



                    </div>
                 </div>
                </div>
            {% endfor %}

        </div>
    </div>


  </div>
</div>


{% endblock %}